@charset "UTF-8";
/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0;
    padding: 0;
}

fieldset, img, input, button { 			/*fieldset组合表单中的相关元素*/
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}

ul, ol {
    list-style: none;				/*清除列表风格*/
}

input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "SimSun", "宋体";
}

select, input {
    vertical-align: middle;
}

select, input, textarea {
    font-size: 12px;
    margin: 0;
}

textarea {
    resize: none;
}

/*防止多行文本框拖动*/
img {
    border: 0;
    vertical-align: middle;
}

/*  去掉图片低测默认的3像素空白缝隙*/
table {
    border-collapse: collapse;			/*合并外边线*/
}


body {
    font: 12px/150% Arial, Verdana, "\5b8b\4f53";	/*宋体，Unicode，统一码*/
    color: #666;
    background: #fff
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /*IE/7/6*/
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    color: #C81623;
}

h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
}

s, i, em {
    font-style: normal;
    text-decoration: none;
}

.col-red {
    color: #C81623 !important;
}

/*公共类*/
.w {
    /*版心 提取 */
    width: 1000px;
    margin: 0 auto;
}

.fl {
    float: left
}

.fr {
    float: right
}

.al {
    text-align: left
}

.ac {
    text-align: center
}

.ar {
    text-align: right
}

.hide {
    display: none
}





    /*site-nav部分start*/
    .site-nav {
        height: 30px;
        line-height: 30px;
        background: #F1F1F1;
    }
    .site-nav-send,
    .site-nav-right .fore {
        position: relative;
        padding: 0 25px 0 10px;
    }
    .site-nav-send:hover {
        background-color: #fff;
    }
    .site-nav-send i,
    .fore i {
        position: absolute;
        top: 12px;
        right: 8px;
        width: 15px;
        height: 7px;
        overflow: hidden;
    }
    .site-nav-send s,
    .fore s {
        font: 13px/15px "consolas";
        position: absolute;
        top: -7px;
        /*display: block;*/
        /*margin-top: -7px;*/
    }
    .site-nav-right li {
        padding: 0 10px;
        float: left;
    }
    .site-nav-right .line {
        padding: 0;
        width: 1px;
        height: 12px;
        margin-top: 9px;
        background-color: #DDD;
    }
    .site-nav-right .jd-tel {
        padding-left: 25px;
    }
    .jd-tel span {
        position: absolute;
        top: 5px;
        left: 6px;
        width: 15px;
        height: 20px;
        background: url("../images/tel.png") no-repeat;
    }
    /*site-nav部分end*/

    /*top-banner部分start*/
    .top-banner {
        background-color: #33BE31;
    }
    .tb {
        position: relative;
    }
    .close-banner {
        position: absolute;
        top: 5px;
        right: 5px;
        width: 19px;
        height: 19px;
        background: url(../images/close-banner.png) no-repeat;
    }
    .close-banner:hover {
        background-position: bottom;
    }
    /*top-banner部分end*/

    /*search部分start*/
    .search-logo {
        float: left;
        width: 362px;
        height: 60px;
        padding: 20px 0;
    }
    .search-logo a {
        display: block;
        width: 270px;
        height: 60px;
        text-indent: -9999em;
        background: url(../images/logo.png) no-repeat;
    }
    .search-inputs {
        float: left;
        height: 36px;
        padding-top: 25px;
    }
    .search-inputs input {
        float: left;
        width: 450px;
        height: 32px;
        border: 2px solid #B61D1D;
        border-right: 0;
        padding-left: 4px;
        color: rgb(153,153,153);
        font: 14px/32px "microsoft yahei";
    }
    .search-inputs button {
        float: left;
        width: 82px;
        height: 36px;
        color: #fff;
        background: #B61D1D;
        font: 16px/36px "微软雅黑";
        cursor: pointer;    /*小手*/
        /*cursor: move;     四角箭头*/
        /*cursor: text;     工形插入条光标*/
        /*cursor: default;  小白箭头*/
    }
    .search-car {
        float: right;
        width: 96px;
        height: 34px;
        position: relative;
        line-height: 34px;
        padding-left: 43px;
        margin: 25px 65px 0 0;
        border: 1px solid #DFDFDF;
        background-color: #F9F9F9;
    }
    .search-car-icon1 {
        position: absolute;
        top: 7px;
        left: 15px;
        width: 20px;
        height: 20px;
        background: url(../images/tel.png) no-repeat 0 -56px;
    }
    .search-car-icon2 {
        position: absolute;
        right: 10px;
        color: #999;
        font: 13px/34px "simsun";
    }
    .search-car-icon3 {
        position: absolute;
        top: -5px;
        width: 16px;
        height: 14px;
        color: #fff;
        line-height: 14px;
        text-align: center;
        border-radius: 7px 7px 7px 0;
        background-color: #C81623;
    }
    .search-more-a {
        float: left;
        width: 538px;
        height: 28px;
        line-height: 28px;
    }
    .search-more-a a {
        margin-right: 8px;
    }
    /*search部分end*/

    /*shortcut部分start*/
    .shortcut {
        height: 44px;
        border-bottom: 2px solid #B1191A;
    }
    .shortcut-dropdown {
        position: relative;
        z-index: 1;
        width: 210px;
        height: 44px;
        float: left;
        background-color: #B1191A;
    }
    .shortcut-dropdown-all a {
        display: block;
        width: 200px;
        height: 44px;
        color: #fff;
        font: 15px/44px "微软雅黑";
        padding-left: 10px;
    }
    .shortcut-dropdown-one {
        height: 465px;
        margin-top: 2px;
        border-left: 1px solid #B1191A;
        border-bottom: 1px solid #B1191A;
    }
    .shortcut-dropdown-one div {
        height: 31px;
        padding: 0 13px 0 10px;
        background-color: #C81623;
    }
    .shortcut-dropdown-one div:hover {
        background-color: #fff;
    }
    .shortcut-dropdown-one div:hover a {
        color: #C81623;
    }
    .shortcut-dropdown-one h4 {
        float: left;
    }
    .shortcut-dropdown-one a {
        color: #fff;
        font: 14px/31px "microsoft yahei";
    }
    .shortcut-dropdown-one i {
        color: #fff;
        float: right;
        font: 9px/31px "consolas";
    }
    .shortcut-items {
        width: 740px;
        height: 44px;
        float: left;
    }
    .shortcut-items li {
        float: left;
    }
    .shortcut-items a {
        display: block;
        padding: 0 20px;
        height: 44px;
        color: #333;
        font: 16px/44px "microsoft yahei";
    }
    .shortcut-items a:hover {
        color: #C81623;
    }
    .shortcut-img {
        float: right;
        margin-top: -10px;
        margin-right: 50px;
    }
    /*shortcut部分end*/

    /*footer部分start*/
    .footer-top-slogen {
        height: 54px;
        padding: 20px 0;
        margin-bottom: 15px;
        position: relative;
        background-color: #F5F5F5;
    }
    .footer-top-slogen-icon {
        position: absolute;
        left: 50%;
    }
    .footer-top-slogen-icon1 {
        margin-left: -604px;
    }
    .footer-top-slogen-icon2 {
        margin-left: -302px;
    }
    .footer-top-slogen-icon4 {
        margin-left: 302px;
    }
    .footer-top-shopping dl {
        float: left;
        width: 200px;
    }
    dl.last-dl {
        width: 100px;
    }
    .footer-top-shopping dt,
    .coverage h3 {
        font: 16px/35px "microsoft yahei";
    }
    .footer-top-shopping dd {
        line-height: 20px;
    }
    .coverage {
        width: 186px;
        height: 169px;
        float: right;
        margin-right: 55px;
        padding-left: 17px;
        background: url(../images/china.png) no-repeat left bottom;
    }
    .coverage p {
        padding-top: 8px;
    }
    .coverage a {
        float: right;
    }
    .footer-bottom {
        margin-top: 20px;
        text-align: center;
        padding: 20px 0 30px;
        border-top: 1px solid #E5E5E5;
    }
    .footer-bottom-links a {
        margin: 0 10px;
    }
    .footer-bottom-copyright {
        padding: 10px 0;
    }
    .footer-bottom-imgs a {
        margin: 0 5px;
    }
    /*footer部分end*/




